body {
    padding: 10px;
}


.listing {
    display: flex;
    flex-direction: row;    
    margin: 10px;
    border: 1px solid grey;
    cursor: pointer;
}

.card {
    display: inline-block;
    margin: 5px 10px 5px 0px;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }


