body {
    padding: 10px;
}


.listing {
    display: flex;
    flex-direction: row;    
    margin: 10px;
    border: 1px solid grey;
    cursor: pointer;
}

.card {
    display:inline-block;
    width: 22rem; 
    margin: 5px;
}


