{% extends "mplan/layout.html" %}

{% block body %}
<div class="card">
    <img class='card-img-top' src="{{ recipe.url}}" class="card-img-full">
    <div class="card-body">
        <h4 class="card-title"> {{ recipe.name}} </h4>
        {% if recipe.category %}
            <a href="category/{{recipe.category}}" class="badge badge-primary"> {{recipe.category}} </a>
        {% endif %}
        <p> {{ recipe.description }} </p>
        <p> Added by: {{ recipe.creator }} </p>
        <p> Date: {{ recipe.date }} </p>
        <table class="table">

                    <thead>
                        <tr>
                            <th scope="col"> Name </th>
                            <th scope="col"> Protein </th>
                            <th scope="col"> Fat </th>
                            <th scope="col"> Carb </th>
                            <th scope="col"> Energy </th>
                        </tr>
                    </thead>
                  <tbody>
                {% for item in recipe.ingredient.all %}
                        <tr>
                            <th scope="row"> {{ item.name }}, {{ item.amount }} </th>
                            <td> {{ item.protein}} </td>
                            <td> {{ item.fat }} </td>
                            <td> {{ item.carb }} </td>
                            <td> {{ item.energy }} </td>
                        </tr>
                {% endfor %}
                  </tbody>
                        <tr>
                            <th scope="row"> Summ </th>
                            <td> {{ summProtein }} </td>
                            <td> {{ summFat }} </td>
                            <td> {{ summCarb }} </td>
                            <td> {{ summEnergy }} </td>
                        </tr>
        </table>

    </div>
</div>
{% endblock %}