{% extends "mplan/layout.html" %}
{% load static %}

{% block body %}
<div class="card">
    <img class='card-img-top' src="{{ recipe.url}}" class="card-img-full">
    <div class="card-body">
        <h4 class="card-title"> {{ recipe.name}} </h4>
        {% if recipe.creator|stringformat:"s" == user.username|stringformat:"s" %}
        <div class="d-flex flex-row justify-content-end">
             <form action="edit_recipe/{{recipe.id}}">
                <button class="btn btn-outline-primary btn-sm" onclick=edit_recipe({{recipe.id}})>Edit recipe</button>
            </form>
            <form action="/">
                <button class="btn btn-outline-danger btn-sm" onclick=delete_recipe({{recipe.id}})>Delete recipe</button>
            </form>
        </div>
        {% endif %}
        {% if recipe.category %}
            <a href="category/{{recipe.category}}" class="badge badge-primary"> {{recipe.category}} </a>
        {% endif %}
        <p> {{ recipe.description|linebreaks }} </p>
        <p> Added by: {{ recipe.creator }} </p>
        <p> Date: {{ recipe.date }} </p>
        <table class="table">

                    <thead>
                        <tr>
                            <th scope="col"> Name </th>
                            <th scope="col"> Protein </th>
                            <th scope="col"> Fat </th>
                            <th scope="col"> Carb </th>
                            <th scope="col"> Energy </th>
                        </tr>
                    </thead>
                  <tbody>
                {% for item in recipe.ingredient.all %}
                        <tr>
                            <th scope="row"> {{ item.name }}, {{ item.amount }} </th>
                            <td> {{ item.protein}} </td>
                            <td> {{ item.fat }} </td>
                            <td> {{ item.carb }} </td>
                            <td> {{ item.energy }} </td>
                        </tr>
                {% endfor %}
                  </tbody>
                        <tr>
                            <th scope="row"> Summ </th>
                            <td> {{ summProtein }} </td>
                            <td> {{ summFat }} </td>
                            <td> {{ summCarb }} </td>
                            <td> {{ summEnergy }} </td>
                        </tr>
        </table>

    </div>
</div>
{% block script %}
    <script src="{% static 'mplan/index.js' %}"></script>
{% endblock %}

{% endblock %}